@{
    ViewData["Title"] = "Зміна пароля";
}
<form class="form" method="post">
    <p class="form-title">Зміна паролю</p>
    <div class="input-container">
        <input placeholder="Дійсний пароль" type="password" name="old-password">
    </div>
    <div class="input-container">
        <input placeholder="Новий пароль" type="password" name="new-password">
    </div>
    <button class="submit" type="submit">
        Змінити
    </button>

    <p class="sign-link">
        <a asp-controller="Main" asp-action="Index">Закрити</a>
    </p>
</form>